body {
    margin: 0;
    background-color: #222222;
    padding-bottom: 100px;
}

*, *:after, *:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, label, pre {
    color: #6c757d;
}


form.form-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

.header__container {
    background-color: #13082f;
    max-width: 100%;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header__container a {
    text-decoration: none;
}

.reg__container {
    margin-top: 100px;
    max-width: 400px;
}

.content-left {
    float: left;
    width: 24%;
    margin-left: 1%;

}

.content-right {
    margin-top: 5px;
    float: right;
    width: 73%;
    margin-right: 1%;
}

.content-center {
    float: none;
    width: 100%;
}

.menu1 {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.left-navbar-li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.left-navbar-li a:hover {
    color: #240e4c;
}

.left-navbar-li a {
    text-decoration: none;
    font-size: 25px;
}

.form-control {
    background-color: #13082f !important;
    color: white;
}
.beautiful-border{
    background-color: #13082f;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px 10px;
}


.brand:hover{
    color: inherit;
}

.logout_btn{
    border-radius: 8px;
    min-width: 80px;
    background-color: #0f4b6e;
}
.logout_btn h5{
    text-align: center;
    color: white;

}
.logout_btn a{
    text-decoration: none;
}
.logout_btn a:hover{
    color: initial;
}

/*.logout_btn a{*/
/*    background-color: #0474b2;*/
/*    color: #ffffff;*/
/*    text-decoration: none;*/
/*    border-radius: 9px;*/
/*    border-width: 17px;*/
/*    width: 60px;*/
/*}*/