{% extends "base.html" %}
{% block content_type %}content-right{% endblock %}
{% block sidebar %}
    <div class="content-left">
        <ul class="menu1 beautiful-border">
            <li class="left-navbar-li"><a href="/feed/">Лента</a></li>
            <li class="left-navbar-li"><a href="/follows/">Подписки</a></li>
            <li class="left-navbar-li"><a href="/recommendations">Рекомендации</a></li>
            <li class="left-navbar-li"><a href="/profile/">Профиль</a></li>
        </ul>
    </div>
{% endblock %}
